<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../banco de img/favicon.ico" type="image/x-icon">

    <title>Estações</title>
</head>

<body>
    <div class="primeiraTela">
        <header>
            <a href="../index.html">
                <h1 class="logo"> Root-In </h1>
            </a>
            <div class="searchBar">
                <input class="searchInput" type="text" name="Pesquise" id="" placeholder="Pesquise um produto">
                <button class="searchButton" type="button" value="Buscar">
                    <svg class="searchSvg" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                        width="24px" fill="#449944">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                            d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                    </svg>
                </button>
            </div>
            <div class="headerItens">
                <a class="headerItem" href="../index.html">Home</a>
                <a class="headerItem" href="produtos.html">Produtos</a>
                <a class="headerItem" href="frutasDaEstação.html">Frutas da Estação</a>
                <a class="headerItem" href="../login.html">Login</a>
                <a class="headerItem" id="botaoCadastro" href="http://localhost/cadastro.php">Cadastro</a>
            </div>
        </header>
    </div>
    <footer>
        <ul class="footerList">
            <li class="list-inline-item"><a href="../index.html">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="sobre.html">Sobre nós</a></li>
            <li class="list-inline-item">
                <p class="copyright">UAITECH © 2021</p>
            </li>
        </ul>
    </footer>
</body>

</html>