<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/scroll.css">
    <link rel="shortcut icon" href="../banco de img/favicon.ico" type="image/x-icon">

    <title>Laranja</title>
</head>
<body>
<div class="primeiraTela">
<header>
    <a href="../index.html"><h1 class="logo"> UaiTech </h1></a>
    <div class="searchBar">
        <input class="searchInput" type="text" name="Pesquise" id="">
        <input class="searchButton" type="button" value="Buscar">
    </div>
    <div class="headerItens">
        <a class="headerItem" href="../index.html">Home</a> 
        <a class="headerItem" href="produtos.html">Produtos</a>
        <a class="headerItem" href="frutasDaEstação.html">Frutas da Estação</a>
        <a class="headerItem" href="../login.html">Login</a>
		<a class="headerItem" href="http://localhost/cadastro.php">Cadastro</a>
    </div> 
</header>

    <main class="templateAlimentos">
        <img src="../banco de img/orangaspam.jpg" alt="Img Laranja">

        <main>
            <section>
                <img src="/banco de img/laranja-pera.jpg" alt="Imagem de uma laranja madura" class="fotoProduto"> 
                <p>Preço Médio(Kg): 2,50</p>
                <p>Produção: <b class="emAlta">em alta</b></p>
                
                 <h2 class="sobreTitulo">Descriçao: a laranja pera é uma fruta cítrica<br>
                que possui um leve adocicado, seu período de maior produção é de julho a outubro, <br>
                seu maior produtor é São Paulo.
                 </h2>
                <!-- Colocar preço médio, produção e descrição do lado da imagem -->
                <!-- Colocar tabela nutricional do lado da lista de beneficios -->
                <table class="tabelaNutricional"> 
                    <thead>
                        <tr>
                            <th>Tabela Nutricional</th>
                        </tr> 
                        <tr>
                            <td>Porção de 01 unidade</td
                        ></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Valor Energético</td>
                            <td>36.8Kcal</td>
                            <td>2%</td>
                        </tr>
                        <tr>
                            <td>Carboidratos</td>
                            <td>9,0g</td>
                            <td>3%</td>
                        </tr>
                        <tr>
                            <td>Proteínas</td>
                            <td>1,0g</td>
                            <td>1%</td>
                        </tr>
                        <tr>
                            <td>Gorduras</td>
                            <td>0,1g</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>Fibra Alimentar</td>
                            <td>0,8g</td>
                            <td>3%</td>
                        </tr>
                        <tr>
                            <td>Cálcio</td>
                            <td>21,9mg</td>
                            <td>2%</td>
                        </tr>
                        <tr>
                            <td>Vitamina C</td>
                            <td>53,7mg</td>
                            <td>119%</td>
                        </tr>
                        <tr>
                            <td>Fósforo</td>
                            <td>22,7mg</td>
                            <td>3%</td>
                        </tr>
                        <tr>
                            <td>Mangânes</td>
                            <td>0,1mg</td>
                            <td>4%</td>
                        </tr>
                        <tr>
                            <td>Magnésio</td>
                            <td>8,6mg</td>
                            <td>3%</td>
                        </tr>
                        <tr>
                            <td>Ferro</td>
                            <td>0,1mg</td>
                            <td>1%</td>
                        </tr>
                        <tr>
                            <td>Potássio</td>
                            <td>162,8mg</td>
                            <td>3%</td>
                        </tr>
                        <tr>
                            <td>Tiamina B1</td>
                            <td>0,8g</td>
                            <td>3%</td>
                        </tr>
                    
                    </tbody>
                </table>
                <ul>
                    <li>Ação vasodilatadora que previni pressão alta.</li>
                    <li>Ajuda a regular o instestino.</li>
                    <li>Fortalece o sistema imune através da Vitamiana C</li>
                    <li>Fortalecimento Ósseo</li>
                </ul>
            </section>
        
            <p class="sobreTexto">
        
            </p>
        </main>
        </div>
    </main>
</div>
<footer>
    <ul class="footerList">
        <li class="list-inline-item"><a href="../index.html">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="sobre.html">Sobre nós</a></li>
        <li class="list-inline-item"><p class="copyright">UAITECH © 2021</p></li>
    </ul>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>