<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../banco de img/favicon.ico" type="image/x-icon">

    <title>Laranja</title>
</head>
<body>
    <div class="primeiraTela">
        <header>
            <a href="../index.html">
                <h1 class="logo"> Root-In </h1>
            </a>
            <div class="headerItens">
                <a class="headerItem" href="../index.html">Home</a>
                <a class="headerItem" href="produtos.html">Produtos</a>
                <a class="headerItem" href="frutasDaEstação.html">Frutas da Estação</a>
                <a class="headerItem" href="../login.html">Login</a>
                <a class="headerItem" href="../php/cadastro.php">Cadastro</a>
            </div>
        </header>
        <main>
            <div class="alimentoDiv">
                <img class="alimentoImg" src="../banco de img/orangaspam.jpg" alt="Img Laranja">
                <div class="alimentoDivAux">
                    <p class="alimentoTitulo">Laranja</p>
                    <p class="alimentoInfo">Preço Médio(Kg): R$2,50</p>
                    <p class="alimentoInfo">Produção: em alta</p>
                    <p class="alimentoInfo">Descriçao: a laranja pera é uma fruta cítrica
                        que possui um leve adocicado, seu período de maior produção é de julho a outubro, 
                        seu maior produtor é São Paulo.
                    </p>
                    <p class="alimentoTitulo">Beneficíos</p>
                    <p class="alimentoInfo">Ação vasodilatadora que previni pressão alta.</p>
                    <p class="alimentoInfo">Ajuda a regular o instestino.</p>
                    <p class="alimentoInfo">Fortalece o sistema imune através da Vitamiana C.</p>
                    <p class="alimentoInfo">Fortalecimento Ósseo.</p>
                </div>
            </div>
            <div class="alimentoDivSecundaria">  
                <p class="alimentoTitulo">Tabela Nutricional - Porção de 01 unidade</p>
                <p class="alimentoTitulo2">(Valores diários baseados em uma dieta de 2000kcal)</p>  
                <table class="alimentoTabela">
                    <tbody>
                        <tr class="alimentoTabelaTr">
                            <td>Valor Energético</td>
                            <td>36.8Kcal</td>
                            <td>2%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Carboidratos</td>
                            <td>9,0g</td>
                            <td>3%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Proteínas</td>
                            <td>1,0g</td>
                            <td>1%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Gorduras</td>
                            <td>0,1g</td>
                            <td>0%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Fibra Alimentar</td>
                            <td>0,8g</td>
                            <td>3%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Cálcio</td>
                            <td>21,9mg</td>
                            <td>2%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Vitamina C</td>
                            <td>53,7mg</td>
                            <td>119%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Fósforo</td>
                            <td>22,7mg</td>
                            <td>3%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Mangânes</td>
                            <td>0,1mg</td>
                            <td>4%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Magnésio</td>
                            <td>8,6mg</td>
                            <td>3%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Ferro</td>
                            <td>0,1mg</td>
                            <td>1%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Potássio</td>
                            <td>162,8mg</td>
                            <td>3%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Tiamina B1</td>
                            <td>0,8g</td>
                            <td>3%</td>
                        </tr>
                    </tbody>
                </table>
            </div>     
        </main>
    </div>
    <footer>
        <ul class="footerList">
            <li class="list-inline-item"><a href="../index.html">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="sobre.html">Sobre nós</a></li>
            <li class="list-inline-item">
                <p class="copyright">UAITECH © 2021</p>
            </li>
        </ul>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>