<?php
require_once 'classes.php';
$p = new Pessoas("proj","localhost","root","");

?> 
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../banco de img/favicon.ico" type="image/x-icon">

    <title>Login</title>
</head>

<body>
    <div class="primeiraTela">
        <header>
            <a href="../index.html">
                <h1 class="logo"> UaiTech </h1>
            </a>
            <div class="headerItens">
                <a class="headerItem" href="../index.html">Home</a>
                <a class="headerItem" href="produtos.html">Produtos</a>
                <a class="headerItem" href="frutasDaEstação.html">Frutas da Estação</a>
                <a class="headerItem" href="login.html">Login</a>
                <a class="headerItem" href="../php/cadastro.php">Cadastro</a>
            </div>
        </header>
        <main>
            <form class="login" method="POST" action="login.php">
                <h2 class="cadastroTitulo">Acesso ao sistema</h2>
                <label for="usuario">Nome</label>
                <input class="cadastroInput" type="text" name="usuario" id="usuario">
                <br>
                <label for="senha">Senha</label>
                <input class="cadastroInput" type="password" name="senha" id="senha" size="10">
                <br>
                <input class="cadastrar" type="submit" name="acessar" value="Acessar">
                <a class="cadastrar-se" href="../php/cadastro.php"> Cadastre-se </a>
            </form>
        </main>
    </div>
    <footer>
        <ul class="footerList">
            <li class="list-inline-item"><a href="../index.html">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="sobre.html">Sobre nós</a></li>
            <li class="list-inline-item"><p class="copyright">UAITECH © 2021</p></li>
        </ul>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>