<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../banco de img/favicon.ico" type="image/x-icon">

    <title>Milho</title>
</head>

<body>
    <div class="primeiraTela">
        <header>
            <a href="../index.html">
                <h1 class="logo"> Root-In </h1>
            </a>
            <div class="headerItens">
                <a class="headerItem" href="../index.html">Home</a>
                <a class="headerItem" href="produtos.html">Produtos</a>
                <a class="headerItem" href="frutasDaEstação.html">Frutas da Estação</a>
                <a class="headerItem" href="login.html">Login</a>
                <a class="headerItem" href="../php/cadastro.php">Cadastro</a>
            </div>
        </header>
        <main>
            <div class="alimentoDiv">
                <img class="alimentoImg" src="../banco de img/cornspam.jpg" alt="Imagem de um milho">
                <div class="alimentoDivAux">
                    <p class="alimentoTitulo">Milho</p>
                    <p class="alimentoInfo">Preço Médio(60Kg): R$91,00</p>
                    <p class="alimentoInfo">Produção: em alta</p>
                    <p class="alimentoInfo">Descriçao: O milho, um conhecido cereal cultivado em grande <br>
                                            parte do mundo, é extensivamente utilizado como alimento <br>
                                            humano ou para ração animal devido às suas qualidades nutricionais.
                    </p>
                    <p class="alimentoTitulo">Beneficíos</p>
                    <p class="alimentoInfo">Previne doenças oculares.</p>
                    <p class="alimentoInfo">Fortalece o sistema imunológico.</p>
                    <p class="alimentoInfo">Regula o açucar no sangue.</p>
                    <p class="alimentoInfo">Melhora o trânsito instestinal.</p>
                </div>
            </div>
            <div class="alimentoDivSecundaria">  
                <p class="alimentoTitulo">Tabela Nutricional - 01 Espiga cozida</p>
                <p class="alimentoTitulo2">(Valores diários baseados em uma dieta de 2000kcal)</p>  
                <table class="alimentoTabela">
                    <tbody>
                        <tr class="alimentoTabelaTr">
                            <td>Valor Energético</td>
                            <td>160,00Kcal</td>
                            <td>8%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Carboidratos</td>
                            <td>25,11g</td>
                            <td>8,37%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Proteínas</td>
                            <td>3,32g</td>
                            <td>1,11%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Gorduras</td>
                            <td>0,0g</td>
                            <td>0%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Gorduras Saturadas</td>
                            <td>1,20g</td>
                            <td>5,45%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Fibra Alimentar</td>
                            <td>4,35mg</td>
                            <td>17,00%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Sódio</td>
                            <td>244,00mg</td>
                            <td>10,17%</td>
                        </tr>
                </table>
            </div>     
        </main>
    </div>
    <footer>
        <ul class="footerList">
            <li class="list-inline-item"><a href="../index.html">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="sobre.html">Sobre nós</a></li>
            <li class="list-inline-item">
                <p class="copyright">UAITECH © 2021</p>
            </li>
        </ul>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>