<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/scroll.css">
    <link rel="shortcut icon" href="../banco de img/favicon.ico" type="image/x-icon">

    <title>Produtos</title>
</head>
<body>
<div class="primeiraTela">
<header>
    <a href="../index.html"><h1 class="logo"> UaiTech </h1></a>
    <div class="searchBar">
        <input class="searchInput" type="text" name="Pesquise" id="">
        <input class="searchButton" type="button" value="Buscar">
    </div>
    <div class="headerItens">
        <a class="headerItem" href="../index.html">Home</a> 
        <a class="headerItem" href="produtos.html">Produtos</a>
        <a class="headerItem" href="frutasDaEstação.html">Frutas da Estação</a>
        <a class="headerItem" href="../login.html">Login</a>
		<a class="headerItem" href="http://localhost/cadastro.php">Cadastro</a>
    </div> 
</header>
<main>
    <ul class="produtos">
        <a class="item" href="laranja.html">              
            <img class="itemImg" src="../banco de img/orange.png" alt=""> <!-- Imagem de uma maça // vou colocar img dps, só fiquei com preguiça e peguei na net -->
            <h1 class="itemTitulo">Laranja</h1>
            <p>Fruto hibrido, que sugiu no cruzamento do pomelo e a tangerina. Rico em Vitamina C!</p>
            <div class="itemPreco">
                <p>Preço Medio:</p> <!-- Dps coloco os valores bonitinho -->
                <p>R$ 20,00</p>
            </div>

        </a> 
        <a class="item" href="soja.html">               
            <img class="itemImg" src="../banco de img/soy.png" alt="">
                <h1 class="itemTitulo">Soja</h1>
                <p>A Soja é um alimento que tem uma adição lenta aos costumes alimenticios na America.</p>
                <div class="itemPreco">
                    <p>Preço Medio:</p> <!-- Dps coloco os valores bonitinho -->
                    <p>R$ 20,00</p>
                </div>
        </a>
        <a class="item" href="trigo.html">               
            <img class="itemImg" src="../banco de img/wheat.png" alt=""> <!-- Imagem de uma laranja-->
                <h1 class="itemTitulo">Trigo</h1>
                <p>Graminea cultivada no mundo todo. Sendo o grao de trigo muito presente em nossa alimentação</p>
                <div class="itemPreco">
                    <p>Preço Medio:</p> <!-- Dps coloco os valores bonitinho -->
                    <p>R$ 20,00</p>
                </div>
        </a>
        <a class="item" href="milho.html">               
            <img class="itemImg" src="../banco de img/corn.png" alt=""> <!-- Imagem de uma laranja-->
                <h1 class="itemTitulo">Milho</h1>
                <p>O milho esta bem presente na nossa alimentação. Alem de que é usado na criação de rações.</p>
                <div class="itemPreco">
                    <p>Preço Medio:</p> <!-- Dps coloco os valores bonitinho -->
                    <p>R$ 20,00</p>
                </div>
        </a>
    </ul>
</main>
</div>
<footer>
    <ul class="footerList">
        <li class="list-inline-item"><a href="../index.html">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="sobre.html">Sobre nós</a></li>
        <li class="list-inline-item"><p class="copyright">UAITECH © 2021</p></li>
    </ul>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>