<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/scroll.css">
    <link rel="shortcut icon" href="../banco de img/favicon.ico" type="image/x-icon">

    <title>Sobre Nós</title>
</head>
<body>
    <div class="primeiraTela">
    <header>
        <a href="../index.html"><h1 class="logo"> UaiTech </h1></a>
        <div class="headerItens">
            <a class="headerItem" href="../index.html">Home</a> 
            <a class="headerItem" href="produtos.html">Produtos</a>
            <a class="headerItem" href="frutasDaEstação.html">Frutas da Estação</a>
            <a class="headerItem" href="../login.html">Login</a>
		    <a class="headerItem" href="http://localhost/cadastro.php">Cadastro</a>
        </div> 
    </header>

   <main>
            <ul class="criadores">
              <li>
                <img src="../banco de img/fotofab.jpg" alt=""> <!-- Imagem do Fabricio-->
                <a href="mailto:fabricion329@gmail.com"><h2>Fabricio</h2></a>
                <p>Dev. BackEnd</p>
            </li>
            <li>
                <img src="../banco de img/fotogui.jpg" alt=""> <!-- Imagem do Guilherme-->
                <a href="mailto:guifranca60@gmail.com"><h2>Guilherme</h2></a>
                <p>Dev. FrontEnd</p>
            </li>
            <li>
                <img src="../banco de img/fotoluis.jpg" alt=""> <!-- Imagem do Luis Felipe-->
                <a href="mailto:luisfelipepaimti@gmail.com"><h2>Luis Felipe</h2></a>
                <p>Marketing</p>
            </li>
            </ul>
    </main>
    </div>
    <footer>
        <ul class="footerList">
            <li class="list-inline-item"><a href="../index.html">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="sobre.html">Sobre nós</a></li>
            <li class="list-inline-item"><p class="copyright">UAITECH © 2021</p></li>
        </ul>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>