<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../banco de img/favicon.ico" type="image/x-icon">

    <title>Soja</title>
</head>

<body>
    <div class="primeiraTela">
        <header>
            <a href="../index.html">
                <h1 class="logo"> Root-In </h1>
            </a>
        <div class="headerItens">
            <a class="headerItem" href="../index.html">Home</a>
            <a class="headerItem" href="produtos.html">Produtos</a>
            <a class="headerItem" href="frutasDaEstação.html">Frutas da Estação</a>
            <a class="headerItem" href="login.html">Login</a>
            <a class="headerItem" href="../php/cadastro.php">Cadastro</a>
        </div>
    </header>
        <main>
            <div class="alimentoDiv">
                <img class="alimentoImg" src="../banco de img/sojaspam.jpg" alt="Imagem de grãos de soja">
                <div class="alimentoDivAux">
                    <p class="alimentoTitulo">Soja</p>
                    <p class="alimentoInfo">Preço Médio(60Kg): R$173,50</p>
                    <p class="alimentoInfo">Produção: em baixa</p>
                    <p class="alimentoInfo">Descriçao: A soja, também conhecida como feijão-soja e  <br>
                                            feijão-chinês, É empregada na alimentação humana e animal.
                    </p>
                    <p class="alimentoTitulo">Beneficíos</p>
                    <p class="alimentoInfo">Reduz o risco de doenças cardiovasculares.</p>
                    <p class="alimentoInfo">Alivia sintomas da menopausa e TPM.</p>
                    <p class="alimentoInfo">Favorece saíde óssea e da pele.</p>
                    <p class="alimentoInfo">Previne alguns tipos de câncer.</p>
                </div>
            </div>
            <div class="alimentoDivSecundaria">  
                <p class="alimentoTitulo">Tabela Nutricional - Porção de 100g cozida</p>
                <p class="alimentoTitulo2">(Valores diários baseados em uma dieta de 2000kcal)</p>  
                <table class="alimentoTabela">
                    <tbody>
                        <tr class="alimentoTabelaTr">
                            <td>Valor Energético</td>
                            <td>173,00Kcal</td>
                            <td>8,65%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Carboidratos</td>
                            <td>9,93g</td>
                            <td>3,31%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Proteínas</td>
                            <td>16,60g</td>
                            <td>5,53%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Gorduras</td>
                            <td>8,98g</td>
                            <td>16,33%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Fibra Alimentar</td>
                            <td>6,00g</td>
                            <td>24,00%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Sódio</td>
                            <td>237,00mg</td>
                            <td>9,88%</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>     
        </main>
    </div>
    <footer>
        <ul class="footerList">
            <li class="list-inline-item"><a href="../index.html">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="sobre.html">Sobre nós</a></li>
            <li class="list-inline-item">
                <p class="copyright">UAITECH © 2021</p>
            </li>
        </ul>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>