<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/scroll.css">
    <link rel="shortcut icon" href="../banco de img/favicon.ico" type="image/x-icon">

    <title>Trigo</title>
</head>
<body>
<div class="primeiraTela">
<header>
    <a href="../index.html"><h1 class="logo"> UaiTech </h1></a>
    <div class="searchBar">
        <input class="searchInput" type="text" name="Pesquise" id="">
        <input class="searchButton" type="button" value="Buscar">
    </div>
    <div class="headerItens">
        <a class="headerItem" href="../index.html">Home</a> 
        <a class="headerItem" href="produtos.html">Produtos</a>
        <a class="headerItem" href="frutasDaEstação.html">Frutas da Estação</a>
        <a class="headerItem" href="../login.html">Login</a>
		<a class="headerItem" href="http://localhost/cadastro.php">Cadastro</a>
    </div> 
</header>



<main class="templateAlimentos">
    <img src="../banco de img/wheatspam.jpg" alt="Img Trigo">

    <ul>
        <h2 class="sobreTexto">Nutrientes: </h2> <br> <!-- Só pra quebrar linha, dps tira-->
        <li>40% de Proteina de alta qualidade</li>
        <li>20% de Lipidios</li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <h2>Descrição</h2>

    <p>Descrição longa... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae numquam tempore natus esse quibusdam saepe, corrupti illo possimus atque perspiciatis dignissimos perferendis, magni quasi placeat. Excepturi velit quo voluptate esse!</p>
</main>
</div>
<footer>
    <ul class="footerList">
        <li class="list-inline-item"><a href="../index.html">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="sobre.html">Sobre nós</a></li>
        <li class="list-inline-item"><p class="copyright">UAITECH © 2021</p></li>
    </ul>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>