<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../banco de img/favicon.ico" type="image/x-icon">
    <title>Trigo</title>
</head>

<body>
    <div class="primeiraTela">
        <header>
            <a href="../index.html">
                <h1 class="logo"> Root-In </h1>
            </a>
            <div class="headerItens">
                <a class="headerItem" href="../index.html">Home</a>
                <a class="headerItem" href="produtos.html">Produtos</a>
                <a class="headerItem" href="frutasDaEstação.html">Frutas da Estação</a>
                <a class="headerItem" href="login.html">Login</a>
                <a class="headerItem" href="../php/cadastro.php">Cadastro</a>
            </div>
        </header>
        <main class="templateAlimentos">
            <div class="alimentoDiv">
                <img class="alimentoImg" src="../banco de img/wheatspam.jpg" alt="Imagem de plantação de trigo">
                <div class="alimentoDivAux">
                    <p class="alimentoTitulo">Trigo</p>
                    <p class="alimentoInfo">Preço Médio(60Kg): R$24,00</p>
                    <p class="alimentoInfo">Produção: em baixa</p>
                    <p class="alimentoInfo">Descriçao:O trigo é a gramínea cultivada em todo o mundo. <br>
                    Mundialmente, é a segunda maior cultura de cereais. O grão <br>  
                    de trigo é um alimento básico usado para fazer farinha e, com esta, <br>  
                    o pão, na alimentação dos animais domésticos e como ingrediente na <br>  
                    fabricação de cerveja.
                    </p>
                    <p class="alimentoTitulo">Beneficíos</p>
                    <p class="alimentoInfo">Fonte de energia.</p>
                    <p class="alimentoInfo">Combate radicais livres.</p>
                    <p class="alimentoInfo">Fonte de fibras insolúveis.</p>
                </div>
            </div>
            <div class="alimentoDivSecundaria">  
                <p class="alimentoTitulo">Tabela Nutricional - Porção de 01 Xícara(Chá)/p>
                <p class="alimentoTitulo2">(Valores diários baseados em uma dieta de 2000kcal)</p>  
                <table class="alimentoTabela">
                    <tbody>
                        <tr class="alimentoTabelaTr">
                            <td>Valor Energético</td>
                            <td>205,33,00Kcal</td>
                            <td>10,27%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Carboidratos</td>
                            <td>45,30g</td>
                            <td>15,10%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Proteínas</td>
                            <td>6,80g</td>
                            <td>2,27%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Gorduras</td>
                            <td>1,06g</td>
                            <td>1,93%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Gorduras Saturadas</td>
                            <td>0,13g</td>
                            <td>0,60%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Fibra Alimentar</td>
                            <td>7,33g</td>
                            <td>29,33%</td>
                        </tr>
                        <tr class="alimentoTabelaTr">
                            <td>Sódio</td>
                            <td>1,20mg</td>
                            <td>0,05%</td>
                        </tr>
                    </tbody>
                </table>
            </div>     
          </main>
    </div>
    <footer>
        <ul class="footerList">
            <li class="list-inline-item"><a href="../index.html">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="sobre.html">Sobre nós</a></li>
            <li class="list-inline-item">
                <p class="copyright">UAITECH © 2021</p>
            </li>
        </ul>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>